.FaceRecognition {
    display: flex;
    justify-content: center;
}

.image-box {
    position: absolute;
    margin: 1rem auto;
}

.image-box #imageinput {
    max-width: 50rem;
    height: auto;
}

.bounding-box {
	position: absolute;
    box-shadow: 0 0 0 3px #04c8de;
    cursor: pointer;
}